body {
	font-family: helvetica;
	padding-bottom: 30px;
	margin: 0;
}
ul, ol {
	padding-left: 0px;
	list-style: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
@grey : #eaeaea;
 .section {
	overflow: hidden;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px dotted grey;
	.section-title {
		font-weight: bold;
		font-size: 20px;
	}
}
.animate {
	&.ng-hide-add, &.ng-hide-remove {
		-webkit-transition:0.5s ease opacity;
		transition:0.5s ease opacity;
		overflow: hidden;
		/* remember to add this */
		display:block!important;
		opacity:1;
	}
	&.ng-hide {
		opacity:0;
	}
}

.product {
	&.highlighted {
		background: red !important;
	}
	overflow: hidden;

	h3 {
		font-size: 15px;
	}
	ul.key-features {
		padding-left: 20px;
		list-style: disc;
	}
	ul.features {
		overflow: hidden;

		li {
			float: left;
			font-size: 15px;
			margin-bottom: 3px;
			img {
				margin-right: 5px;
				vertical-align: middle;
			}
		}
	}

	img.hero-image {
		min-width: 100%;
		max-width: 100%;
	}

}
#products {

	.controls {
		display: none;
	}

	.product-selector-desktop {
		overflow: hidden;
		.product {
			width: 200px;
			float: left;
			margin-right: 20px;
		}
	}
	.product-selector-tablet {
		position: relative;
		overflow: hidden;
		white-space: nowrap;
		.product {
			width: 200px;
			white-space: normal;
			display: inline-block;
			margin-right: 20px;
		}
	}
	.product-selector-mobile {
		position: relative;
		overflow: hidden;
		.tools {
			pointer-events: none;
			position: absolute;
			width: 100%;
			z-index: 100;
			button {
				pointer-events: auto;
				position: absolute;
			}
			.previous {
				left: 0px;
			}
			.next {
				right: 0px;
			}
			.pagination {
				position: absolute;
				top: 100px;
				li {
					pointer-events: auto;
					float: left;
					margin-right: 10px;
					&.active {
						color: red;
					}
					
				}
			}
		}
		.carousel{
			overflow: hidden;
			white-space: nowrap;
			img {
				width: 342px;
			}
		}
	}
}
.product-zoom {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 100;

	.tools {
		position: relative;
		button {
			-webkit-appeareance: none;
			border: 0;
			background: transparent;
		}
		.close {
			position: absolute;
			right: 0px;
		}
		.navigation {
			position: absolute;
			top: 20px;
			z-index: 10;
			width: 100%;
			button {
				position: absolute;
				width: 40px;
				height: 100px;
				&.previous {
					left: 0px;
				}
				&.next {
					right: 0px;
				}
			}

		}
	}
	.products-wrapper {
		position: relative;
		white-space: nowrap;
		-webkit-transition: 0.2s ease-out -webkit-transform;
		.product {
			img.hero-image {
				min-width: 100%;
				max-width: 100%;
			}
			padding-bottom: 30px;
			vertical-align: top;
			white-space: normal;
			display: inline-block;
			width: 100%;
			-webkit-overflow-scrolling: touch;
			overflow-y: auto;
			overflow-x: hidden;
			button {
				margin-bottom: 60px;
			}
		}
	}

	&.ng-hide-add, &.ng-hide-remove {
		-webkit-transition:0.5s ease all;
		-webkit-transform: translate(0px, 0px);
		transition:0.3s ease all;
		/* remember to add this */
		display:block!important;
	}

	&.ng-hide {
		-webkit-transform: translate(0px, 100%);
	}
}
.device-plan {
	white-space: nowrap;
	.plan {
		white-space: normal;
		display: inline-block;
		width: 150px;
		margin-right: 20px;
		background: @grey;
		text-align: center;
	}
}
.unselected {
	opacity: 0.5;
}



/* Styled scrollbars */
.iscroll-wrapper {
	position: relative;
	padding-top: 15px;
	&.iscroll-noscroll {
		padding-top: 0px;
		.iScrollHorizontalScrollbar {
			visibility: hidden;
		}
	}
}
.iscroll-scrollable {
	float: left;
}
.iScrollHorizontalScrollbar {
	position: absolute;
	z-index: 50;
	height: 6px;
	width: 90%;
	top: 2px;
	overflow: hidden;
	background: @grey;
}

.iScrollIndicator {
	position: absolute;
	background: black;
}

.iScrollHorizontalScrollbar .iScrollIndicator {
	height: 100%;
}

/* end */