body {
  font-family: helvetica;
  padding-bottom: 30px;
  margin: 0;
}
ul,
ol {
  padding-left: 0px;
  list-style: none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.section {
  overflow: hidden;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dotted grey;
}
.section .section-title {
  font-weight: bold;
  font-size: 20px;
}
.animate.ng-hide-add,
.animate.ng-hide-remove {
  -webkit-transition: 0.5s ease opacity;
  transition: 0.5s ease opacity;
  overflow: hidden;
  /* remember to add this */
  display: block!important;
  opacity: 1;
}
.animate.ng-hide {
  opacity: 0;
}
.product {
  overflow: hidden;
}
.product.highlighted {
  background: red !important;
}
.product h3 {
  font-size: 15px;
}
.product ul.key-features {
  padding-left: 20px;
  list-style: disc;
}
.product ul.features {
  overflow: hidden;
}
.product ul.features li {
  float: left;
  font-size: 15px;
  margin-bottom: 3px;
}
.product ul.features li img {
  margin-right: 5px;
  vertical-align: middle;
}
.product img.hero-image {
  min-width: 100%;
  max-width: 100%;
}
#products .controls {
  display: none;
}
#products .product-selector-desktop {
  overflow: hidden;
}
#products .product-selector-desktop .product {
  width: 200px;
  float: left;
  margin-right: 20px;
}
#products .product-selector-tablet {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
#products .product-selector-tablet .product {
  width: 200px;
  white-space: normal;
  display: inline-block;
  margin-right: 20px;
}
#products .product-selector-mobile {
  position: relative;
  overflow: hidden;
}
#products .product-selector-mobile .tools {
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 100;
}
#products .product-selector-mobile .tools button {
  pointer-events: auto;
  position: absolute;
}
#products .product-selector-mobile .tools .previous {
  left: 0px;
}
#products .product-selector-mobile .tools .next {
  right: 0px;
}
#products .product-selector-mobile .tools .pagination {
  position: absolute;
  top: 100px;
}
#products .product-selector-mobile .tools .pagination li {
  pointer-events: auto;
  float: left;
  margin-right: 10px;
}
#products .product-selector-mobile .tools .pagination li.active {
  color: red;
}
#products .product-selector-mobile .carousel {
  overflow: hidden;
  white-space: nowrap;
}
#products .product-selector-mobile .carousel img {
  width: 342px;
}
.product-zoom {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 100;
}
.product-zoom .tools {
  position: relative;
}
.product-zoom .tools button {
  -webkit-appeareance: none;
  border: 0;
  background: transparent;
}
.product-zoom .tools .close {
  position: absolute;
  right: 0px;
}
.product-zoom .tools .navigation {
  position: absolute;
  top: 20px;
  z-index: 10;
  width: 100%;
}
.product-zoom .tools .navigation button {
  position: absolute;
  width: 40px;
  height: 100px;
}
.product-zoom .tools .navigation button.previous {
  left: 0px;
}
.product-zoom .tools .navigation button.next {
  right: 0px;
}
.product-zoom .products-wrapper {
  position: relative;
  white-space: nowrap;
  -webkit-transition: 0.2s ease-out -webkit-transform;
}
.product-zoom .products-wrapper .product {
  padding-bottom: 30px;
  vertical-align: top;
  white-space: normal;
  display: inline-block;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
}
.product-zoom .products-wrapper .product img.hero-image {
  min-width: 100%;
  max-width: 100%;
}
.product-zoom .products-wrapper .product button {
  margin-bottom: 60px;
}
.product-zoom.ng-hide-add,
.product-zoom.ng-hide-remove {
  -webkit-transition: 0.5s ease all;
  -webkit-transform: translate(0px, 0px);
  transition: 0.3s ease all;
  /* remember to add this */
  display: block!important;
}
.product-zoom.ng-hide {
  -webkit-transform: translate(0px, 100%);
}
.device-plan {
  white-space: nowrap;
}
.device-plan .plan {
  white-space: normal;
  display: inline-block;
  width: 150px;
  margin-right: 20px;
  background: #eaeaea;
  text-align: center;
}
.unselected {
  opacity: 0.5;
}
/* Styled scrollbars */
.iscroll-wrapper {
  position: relative;
  padding-top: 15px;
}
.iscroll-wrapper.iscroll-noscroll {
  padding-top: 0px;
}
.iscroll-wrapper.iscroll-noscroll .iScrollHorizontalScrollbar {
  visibility: hidden;
}
.iscroll-scrollable {
  float: left;
}
.iScrollHorizontalScrollbar {
  position: absolute;
  z-index: 50;
  height: 6px;
  width: 90%;
  top: 2px;
  overflow: hidden;
  background: #eaeaea;
}
.iScrollIndicator {
  position: absolute;
  background: black;
}
.iScrollHorizontalScrollbar .iScrollIndicator {
  height: 100%;
}
/* end */
