<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"  />
	<title>Commbank SME Product selector</title>

	<link rel="stylesheet" href="css/styles.css" />
	
	<script src="lib/jquery.min.js"></script>
	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/jquery.transit.min.js"></script>
	<script src="lib/jquery.scrollto.min.js"></script>
	<script src="lib/iscroll.min.js"></script>
	<script src="lib/angular/angular-animate.js"></script>
	<script src="lib/angular/angular-touch.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>

	<script>
	 	// Change this url to point to the actual service. If not defined it will fall back to read mock-devices.json for testing.
		var jsonURL = 'mock-devices.json';
	</script>

</head>

<body>
	<div class="app ng-cloak" ng-app="productSelector" ng-controller="MainCtrl">
		
		<pre ng-show="debug">status:{{status | json}} <br>matchMedia:{{matchMedia | json}} <br> quote:{{quote | json}}</pre>

		<script type="text/ng-template" id="product-details.html">
			<img 
				class="hero-image"
				ng-src="{{matchMedia.at2x?product.images.at2x:product.images.regular}}"
				alt="{{product.name}}"
			/>
			<div class="info">
				<h3>{{product.name}}</h3>
				<p>{{product.description}}</p>
				<ul class="features">
					<li ng-repeat="feature in product.features" class="{{feature.name}}" title="{{feature.description}}">
						<img ng-src="{{feature.image}}" alt="">
					</li>
				</ul>
				Device features
				<hr>
				<div class="key-features" html-content="product.keyFeatures"></div>
			</div>
			<button ng-click="selectProduct(product)">
				<span ng-show="product==quote.selectedProduct">Selected</span>
				<span ng-show="product!=quote.selectedProduct">Select device</span>
			</button>
		</script>
		<!-- PRODUCT SELECTOR SECTION -->
		<div id="products" class="products section animate" ng-controller="ProductSelectorCtrl" section>
			<div class="section-title">Choose your device:</div>

			<!-- DESKTOP VIEW -->
			<div ng-if="matchMedia.desktop" class="product-selector-desktop">
				<div 
					ng-include="'product-details.html'"
					ng-repeat="product in products" 
					class="product" 
					ng-class="{
						unselected:(quote.selectedProduct && quote.selectedProduct != product),
						highlighted: product.id == highlightedId
					}"
				></div>
			</div>
			<!-- END DESKTOP VIEW -->

			<!-- TABLET VIEW -->
			<div ng-if="matchMedia.tablet" class="product-selector-tablet iscroll-wrapper" iscroll>
				<div class="iscroll-scrollable">
					<div 
						ng-include="'product-details.html'"
						ng-repeat="product in products" 
						class="product" 
						ng-class="{
							unselected:(quote.selectedProduct && quote.selectedProduct != product),
							highlighted: product.id == highlightedId
						}"
					></div>
				</div>
			</div>
			<!-- END TABLET VIEW -->
			
			<!-- MOBILE VIEW -->
			<div ng-if="matchMedia.mobile" class="product-selector-mobile" ng-controller="MobileSelectorCtrl">
				<div class="tools">
					<button class="previous" ng-click="move(carousel.current-1)">&lt;</button>
					<button class="next" ng-click="move(carousel.current+1)">&gt;</button>
					<ul class="pagination">
						<li ng-class="{active:carousel.current==$index}" ng-repeat="product in products" ng-click="carousel.current = $index">{{$index}}</li>
					</ul>
				</div>
				<div class="carousel" iscroll="snap">
					<div class="iscroll-scrollable">
						<img 
							ng-repeat="product in products"
							ng-src="{{matchMedia.at2x?product.images.at2x:product.images.regular}}"
						/>
					</div>
				</div>
				<div class="product" ng-repeat="product in activeProduct" >
					<div class="info">
						<h3>{{product.name}}</h3>
						<p>{{product.description}}</p>
						<ul class="features">
							<li ng-repeat="feature in product.features" class="{{feature.name}}" title="{{feature.description}}">
								<img ng-src="{{feature.image}}" alt="">
							</li>
						</ul>
						Device features
						<hr>
						<div class="key-features" html-content="product.keyFeatures"></div>
					</div>
					<button ng-click="selectProduct(product)">
						<span ng-show="product==quote.selectedProduct">Selected</span>
						<span ng-show="product!=quote.selectedProduct">Select device</span>
					</button>
				</div>
			</div>
			<!-- END MOBILE VIEW -->

			<a href="#">Help me choose a device</a>
		</div>
		<!-- END PRODUCT SELECTOR SECTION -->

		<!-- QUANTITY SELECTION SECTION-->
		<div class="device-quantity section animate" ng-controller="DeviceQuantityCtrl" ng-show="status.progress>=index" section>
			<div class="section-title">How many devices do you need?</div>
			<button 
				ng-class="{unselected:(quote.deviceQuantity && quote.deviceQuantity != option)}"
				ng-repeat="option in options"  
				ng-click="selectDeviceQuantity(option)"
			>		
				{{option.number | astext}} <span ng-show="option.fee == null"> or more</span>
			</button>
		</div>
		<!-- END QUANTITY SELECTION SECTION -->

		<!-- PLAN SELECTION SECTION -->
		<div class="device-plan section animate" ng-controller="PlanSelectorCtrl" ng-show="status.progress>=2 && quote.deviceQuantity.fee!=null" section>
			<div class="section-title">Select a plan:</div>
			<div class="iscroll-wrapper" iscroll>
				<div class="iscroll-scrollable">
					<div 
						ng-repeat="plan in quote.selectedProduct.plans" 
						ng-class="{unselected:(quote.selectedPlan && quote.selectedPlan != plan)}" 
						class="plan"
					>
						<div ng-if="plan.fee">
							<h2>{{plan.fee | currency | nocents}}</h2>
							<h6>per month</h6>
							Includes
							<div>{{plan.turnOver | currency}}</div>
							Monthly card turn over
						</div>
						<div ng-if="!plan.fee">
							<h4>Need over {{plan.turnOver}} monthly turn over?</h4>
							<span>Over {{plan.turnOver | currency | nocents}}</span>
						</div>
						<button ng-click="selectPlan(plan)">
							<span ng-show="plan==quote.selectedPlan">Selected</span>
							<span ng-show="plan!=quote.selectedPlan">Select plan</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END PLAN SELECTION SECTION -->

		<!-- ONLINE PAYMENTS SECTION -->
		<div class="online-payments section animate" ng-controller="OnlinePaymentsCtrl" ng-show="status.progress>=3" section>
			<div class="section-title">Do you want to accept payments online?</div>
			<p>Make it even easier for your customers to shop and pay for their purchases with our reliable and easy-to-use eCommerce solutions.</p>
			<button 
				ng-class="{unselected:(quote.onlinePayments && quote.onlinePayments!='yes')}" 
				ng-click="quote.onlinePayments='yes'"
			>YES</button>
			<button 
				ng-class="{unselected:(quote.onlinePayments && quote.onlinePayments!='no')}" 
				ng-click="quote.onlinePayments='no'"
			>NO</button>
		</div>
		<!-- END ONLINE PAYMENTS SECTION -->
		
		<!-- SUMMARY SECTION -->
		<div ng-controller="SummaryCtrl" class="summary section animate" ng-show="status.quoteReady" section>
			<div class="section-title">Summary</div>
			<div class="matching animate" ng-show="status.matchingQuote">
				Selected product: {{quote.selectedProduct.name}} <br>
				Device quantity: {{quote.deviceQuantity.number}} 
				<ng-pluralize count="quote.deviceQuantity.number" when="{'1':'device','other':'devices'}"></ng-pluralize> ( additional {{quote.deviceQuantity.fee | currency}} monthly ) <br>
				
				Selected plan: {{quote.selectedPlan.fee | currency | nocents}} monthly with {{quote.selectedPlan.turnOver | currency | nocents}} monthly card turn over<br>
				Accept online payments? {{quote.onlinePayments}} <br>
				

				Total monthly cost <b>{{quote.deviceQuantity.fee + quote.selectedPlan.fee | currency}}</b>
				<br>
				<button ng-click="gotoApplicationForm()">Apply now</button>
			</div>
			<div class="non-matching animate" ng-show="!status.matchingQuote">
				Please contact one of our representatives to get a quote on your selected options.
			</div>
		</div>

		<div class="incomplete" ng-show="!status.quoteReady">
			Please complete the rest of the form
		</div>
		<!-- END SUMMARY SECTION -->

	</div>
</body>



</html>
